body {
    user-select: none;
}

#title_txt {
    font-size: 3vh;
}

.display {
    display: none;
}

.fixed {
    position: fixed;
    width: 100%;
    right: 0;
}

.top {
    top: 0;
}

.bottom {
    bottom: 0;
}

#main_display {
    text-align: center;
    background-color: black;
}

#main_display table {
    text-align: center;
    width: 100%;
}

.margin {
    height: 10vh;
    background-color: black;
}

#main_content {
    height: 60vh;
    overflow-y: scroll;
    background-color: black;
}

#title {
    height: 10vh;
    background-color: black;
    font-weight: bold;
}

#title th {
    padding-top: 2vh;
    padding-bottom: 2vh;
    height: 100%;
    color: white;
    font-size: 2.5vw;
}

#button {
    width: 100%;
    height: 20vh;
    border-top: 0.625vh solid;
    background-color: black;
}

.button {
    border: 0.0125vw solid white;
    border-radius: 2vh;
    height: 5vh;
    background-color: lightblue;
    font-weight: normal;
    vertical-align: middle;
    font-size: 3vh;
    color: black;
}

.button:hover {
    background-color: lightgoldenrodyellow;
    font-weight: bold;
}

.button_bottom {
    width: 50%;
}

.names {
    background-color: lightgreen;
    font-size: 2.5vw;
}

.names:hover {
    background-color: lightgoldenrodyellow;
    font-weight: bold;
}



#setting {
    width: 100;
    background-color: black;
    color: white;
    height: 100vh;
}

#setting_save table {
    width: 100%;
    height: 10vh;
}

#setting_save td {
    width: 50%;
    height: 5vh;
    text-align: center;
    background-color: lightblue;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    border: 0.0125vw solid white;
    border-radius: 2vw;
    font-size: 3vh;
    font-weight: normal;
    color: black;
}

#setting_save td:hover {
    background-color: lightgoldenrodyellow;
    font-weight: bold;
}

h1 {
    font-size: 3vh;
}

#setting_top {
    width: 100%;
}

#setting_top table {
    width: 100%;
    height: 10vh;
    font-size: 5vh;
}

#setting_main {
    width: 100%;
    overflow-y: scroll;
    height: 70vh;
}

#setting_main table {
    width: 100%;
}

#setting_main td {
    text-align: center;
    width: 50%;
    height: 10vh;
    font-size: 3vh;
}

#setting_main input {
    width: 95%;
}

.setting_blank {
    width: 100%;
    height: 10vh;
}

#setting_main th {
    height: 15vh;
    border-bottom: 0.625vh solid white;
    vertical-align: bottom;
    font-size: 4vh;
}

#setting_main select {
    width: 95%;
    height: 7.5vh;
    font-size: 3vh;
    padding-left: 2vh;
}

#make_num td {
    height: 5vh;
    vertical-align: bottom;
}

#make_num input {
    font-size: 4vh;
}


#how_to_use {
    width: 100%;
    height: 100vh;
    color: white;
    background-color: black;
    overflow-y: scroll;
}

#how_to_use table {
    width: 100%;
}

#how_to_use th {
    font-size: 5vh;
    padding-bottom: 5vh;
}

#how_to_use span {
    padding-left: 15vw;
    padding-right: 15vw;
    border-bottom: 0.625vh solid;
}

#how_to_use td {
    text-align: left;
    width: 66%;
    height: 7.5vh;
    font-size: 2.5vh;
    padding-left: 5vw;
    border-bottom: 0.625vh solid;
    border-color: yellow;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

#how_to_use .button {
    border-bottom: 0.0125vw solid;
    text-align: center;
    width: 33%;
    padding-left: 0vw;
    border-color: white;
}

#how_to_use .setting_content {
    text-align: center;
    width: 33%;
    padding-left: 0vw;

    border-radius: 2vh;
    height: 5vh;
    font-weight: normal;
    vertical-align: middle;
    font-size: 3vh;
    color: white;
    border-radius: 0vw;
}

#how_to_use .th {
    font-size: 3vh;
    font-weight: bold;
    border-bottom: 0.625vh solid;
}

#how_to_use .setting_blank {
    border-color: black;
}

#return {
    width: 100%;
    border-bottom: 0vw solid;
    border-color: black;
}

#return table {
    padding-left: 0vw;
    width: 100%;
}

#return td {
    text-align: center;
    padding-left: 0vw;
    width: 33%;
    height: 5vh;
    border-color: black;
}